.splide__container {
    box-sizing: border-box;
    position: relative
}

.splide__list {
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#thumbnail-product-gallery .splide__list {
    padding: 4px 0 4px 0 !important;
}
    
.splide.is-initialized:not(.is-active) .splide__list {
    display: block
}

.splide__pagination {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    pointer-events: none
}

.splide__pagination li {
    display: inline-block;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    pointer-events: auto
}

.splide:not(.is-overflow) .splide__pagination {
    display: none
}

.splide__progress__bar {
    width: 0
}

.splide {
    position: relative;
    visibility: hidden
}

.splide.is-initialized,
.splide.is-rendered {
    visibility: visible
}

.splide__slide {
    backface-visibility: hidden;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;
    position: relative;
}

#thumbnail-product-gallery-list .splide__slide {
    opacity: 0.5;
}

#thumbnail-product-gallery-list .splide__slide.is-active {
    opacity: 1;
    border-color: theme('colors.primary');
}

.splide__slide img {
    vertical-align: bottom
}

.splide__spinner {
    animation: splide-loading 1s linear infinite;
    border: 2px solid #999;
    border-left-color: transparent;
    border-radius: 50%;
    bottom: 0;
    contain: strict;
    display: inline-block;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px
}

.splide__sr {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
    display: none
}

.splide__toggle.is-active .splide__toggle__pause {
    display: inline
}

.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0
}

@keyframes splide-loading {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.splide__track--draggable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.splide__track--fade>.splide__list>.splide__slide {
    margin: 0 !important;
    opacity: 0;
    z-index: 0
}

.splide__track--fade>.splide__list>.splide__slide.is-active {
    opacity: 1;
    z-index: 1
}

.splide--rtl {
    direction: rtl
}

.splide__track--ttb>.splide__list {
    display: block
}

.splide__arrow {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    opacity: .7;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 33px;
    @apply rounded-md;
    transition: all 0.3s ease-in-out;
}
.blog-list-right .splide__arrow {
    top: 85px;
    transform: none;
}

.splide__arrow svg {
    fill: theme('colors.primary');
    height: 28px;
    width: 28px
}
.splide:hover .splide__arrow  {
    background-color: theme('colors.white');
    box-shadow: 0 10px 15px -2px #0000001a, 0 4px 6px -4px #0000001a;
}
.splide:hover .splide__arrow svg path {
    stroke: theme('colors.primary');
}

.splide__arrow svg path {
    fill: none;
    stroke: theme('colors.white');
    stroke-width: 1.5px;
    transform: scale(3.5) translateY(-6px) translateX(-6px);
}


@media(max-width:1199px) {
    .splide__arrow svg {
        height: 20px;
        width: 20px
    }
}

.splide__arrow:hover:not(:disabled) {
    opacity: .9
}

.splide__arrow:disabled {
    display: none;
    opacity: .3
}

.splide__arrow:focus-visible {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px
}

.splide__arrow--prev {
    left: 1em
}

.splide__arrow--prev svg {
    transform: scaleX(-1)
}

.splide__arrow--next {
    right: 1em
}

.splide.is-focus-in .splide__arrow:focus {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px
}

.splide__pagination {
    bottom: .5em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1
}

.splide__pagination__page {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin: 5px;
    opacity: .7;
    padding: 0;
    position: relative;
    transition: transform .2s linear;
    width: 12px
}

.splide__pagination__page.is-active {
    background: theme('colors.primary');
    transform: scale(1.4);
    z-index: 1
}

.splide__pagination__page:hover {
    cursor: pointer;
    opacity: .9
}

.splide__pagination__page:focus-visible {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px;
}

.splide.is-focus-in .splide__pagination__page:focus {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px;
}

.splide__progress__bar {
    background: #ccc;
    height: 2px
}

.splide__slide.is-active {
    opacity: 1;
}

.splide__slide {
    margin-bottom: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.splide__slide:focus {
    outline: 0
}

[data-background-type="video"] {
    position: relative;
}

[data-background-type="video"] [data-element="overlay"] {
    position: relative;
    z-index: 5;
}

[data-background-type="video"] .banner__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

[data-background-type="video"] .banner__video video {
    height: 100%;
    width: 100%;
}

@supports(outline-offset:-2px) {
    .splide__slide:focus-visible {
        outline: 2px solid theme('colors.primary');
        outline-offset: -2px
    }
}

@media screen and (-ms-high-contrast:none) {
    .splide__slide:focus-visible {
        border: 2px solid theme('colors.primary')
    }
}

@supports(outline-offset:-2px) {
    .splide.is-focus-in .splide__slide:focus {
        outline: 2px solid theme('colors.primary');
        outline-offset: -2px
    }
}

@media screen and (-ms-high-contrast:none) {
    .splide.is-focus-in .splide__slide:focus {
        border: 2px solid theme('colors.primary')
    }

    .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
        border-color: theme('colors.primary')
    }
}

.splide__toggle {
    cursor: pointer
}

.splide__toggle:focus-visible {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px
}

.splide.is-focus-in .splide__toggle:focus {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px
}

.splide__track--nav>.splide__list>.splide__slide {
    border: 2px solid transparent;
    cursor: pointer
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 2px solid #000
}

.splide__arrows--rtl .splide__arrow--prev {
    left: auto;
    right: 1em
}

.splide__arrows--rtl .splide__arrow--prev svg {
    transform: scaleX(1)
}

.splide__arrows--rtl .splide__arrow--next {
    left: 1em;
    right: auto
}

.splide__arrows--rtl .splide__arrow--next svg {
    transform: scaleX(-1)
}

.splide__arrows--ttb .splide__arrow {
    left: 50%;
    transform: translate(-50%)
}

.splide__arrows--ttb .splide__arrow--prev {
    top: 1em
}

.splide__arrows--ttb .splide__arrow--prev svg {
    transform: rotate(-90deg)
}

.splide__arrows--ttb .splide__arrow--next {
    bottom: 1em;
    top: auto
}

.splide__arrows--ttb .splide__arrow--next svg {
    transform: rotate(90deg)
}

.splide__pagination--ttb {
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    left: auto;
    padding: 1em 0;
    right: .5em;
    top: 0
}